*{
    box-sizing: border-box;
}

 .logo{
    margin: 0;
    margin-left: 5%;
   
}
header{
    margin-top: 1%;
 
}
header ul{
    margin-left: 25%;
    margin-top: -1%;
}
nav ul li{

    list-style: none;
    float: left;
    width: 15%;
    
}
nav a {
    text-decoration: none;
}

.button{
    float: right;
    margin-right: 10%;
    margin-top: -1.6%;

}

.tagline{
    margin-top: 10%;
    float: left;
}

.tagline h1, .tagline p{
    width: 50%;
}
section img{
    margin-top: 2%;
    width: 500px;
    height: 500px;
    object-fit: cover;
}